.saloni-div{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.div-filter{
    display: none;
    padding: 1rem;
  color: #22303e;
  padding-left: 15px;
  
    
    
}
.div-filter.active{
    display: flex;
}


.div-filter ul{
   list-style:none;
   display: flex;
   width: 100%;
   flex-direction: column;
   gap: 0.5rem;
    padding: 0;

}

.div-filter li{
    
    text-align: center;
    padding: 0.8rem 1rem;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
  cursor: pointer;
  background:transparent;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #dce8ed;
  font-size: 18px;
}

.div-filter li:hover{
    background-color: #ebedef;
    transform: scale(1.02);
}

.saloni-lista{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    justify-content: center;
    margin-top: 20px;
}
.saloni{
  height: fit-content;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.saloni:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}
.saloni img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 15px 15px 0px 0px;
    
    border: 1px solid #bfdbfe;
}


.ocena{
    background-color:salmon;
    border-radius:20%;
    color: white;
    padding: 0.5rem;
    margin-right: 4px;
  margin-left: 4px;
  font-weight: 400;
  font-size: 90%;
  text-align: center;
  margin:  auto 0.5rem;
  
}

.ime {
    font-weight: 600;
    font-size: 1.25rem;
}

.info{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}

.btn-filter {
  display: block;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .btn-filter.active {
    background-color: #5a5aa7; 
    color: white;
  }
  .div-filter.flex {
    display: flex;
     gap: 1rem;
    flex-wrap: wrap;
    
  }
  .filteri{
    display: flex;
    flex-direction: row;
  }

  @media (min-width: 640px) {
    .btn-filter {
        display: none;
      }
    .div-filter {
      display: flex; 
      flex-direction: row;
      gap: 1rem;
    }
    
  }
  
  @media (max-width:640px){
    .filteri{
      gap: 0.8rem;
      flex-direction: column;
    }
    .saloni-div{
        padding: 1rem;
    }
    .div-filter ul{
        flex-direction: column;
        gap: 0.5rem;

        }
        .btn-filter{
          font-size: 0.875rem;
          padding: 0.5rem;
        }
        .saloni img {
          height: 150px;
      }
  
      .saloni {
          max-width: 100%;
      }
  }
  