.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-menu h1{
    color: #2c3e50;
    font-weight: 500;
}

.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x:scroll;
    scrollbar-width: none;
}

.explore-menu-list-item img{
    width: 160px;
  height: 160px;
  object-fit: cover;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    border: 1px solid #bfdbfe;
}

.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: 20px;
    cursor: pointer;
}

.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}
@media (max-width:965px){
    .explore-menu-list-item img{
        width: 135px;
        height: 135px;
        }
        .explore-menu-list-item p {
            font-size: 15px;
        }
}
@media (max-width:700px){
    .explore-menu-list-item img{
    width: 120px;
    height: 120px;
    }
    .explore-menu-list-item p {
        font-size: 15px;
    }
    .explore-menu h1{
        font-size: 20px;
    }
}

