.form-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
  }
  .span-state{
    color: darksalmon;
  }
.form-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: auto;
    padding: 32px;
    min-width: 340px;
    border: 1px solid #e5e7eb; 
    border-radius: 0.75rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    color: #52525b;
    font-size: 0.875rem; 
  }

  .form-header {
    font-size: 1.5rem; 
    font-weight: 600; 
  }
  .login {
    width: 100%;
  }
  
  .login p {
    margin-bottom: 4px;
  }
  
  .login input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem; 
  }

  .form-box button{
    background-color: darksalmon;
    color: white;
    width: 100%;
    padding: 8px;
    border-radius: 0.375rem; 
    font-size: 1rem; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .form-box button:hover{
    background-color: #b4a5b3;
  }

  .switch-link {
    color: #52525b; 
    cursor: pointer;
  }

  .switch-link:hover{
    color: rgb(201, 165, 200);
  }