.navbar {
    padding: 20px 0px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9d80a1;
}

.navbar .navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.navbar .left-p {
    display: flex;
    font-size: 30px;
    color: darksalmon;
    font-weight: 500;
}

.navbar .logo1 {
    width: 100%;
    height: 70px;
    object-fit: cover;
}

.navbar-menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.btn-login{
   
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #9d80a1;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    
}

.btn-login:hover{
    background-color: rgb(158, 153, 159);
    color: white;
    
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #9d80a1;
}

.navbar li, .search{
    cursor: pointer;
   
}

.menu-icon {
    width: 24px; 
    cursor: pointer;
    display: block;
  }
  
  @media (min-width: 768px) {
    .menu-icon {
      display: none; 
    }
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: white;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 20;
  }
  
  .menu-container.open {
    height: 100%;
  }
  
  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
  }
  
  .logo {
    width: 100px; 
  }
  
  .close-icon {
    width: 28px; 
    cursor: pointer;
  }
  
 
  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; 
    color: #49557e;
    font-size: 20px;
    margin-top: 20px; 
    padding: 0 20px; 
    font-weight: 500;
  }
  
  .menu-list li {
    list-style: none;
  }
  
  .menu-list a {
    padding: 8px 16px;
    border-radius: 8px; 
    text-decoration: none;
    display: inline-block;
  }
  
  @media (min-width: 768px) {
    .menu-container {
      display: none; 
    }
  }

  @media (max-width:768px) {
    .btn-login{
        display: none;
    }
  }
  

@media (max-width:1050px) {
  .navbar{
    padding: 10px;
  }
    .navbar .navbar-left{
        width: 120px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .left-p{
        font-size: 20px;
    }
    .logo1{
        width: 40px;
    }
    .navbar-right{
        gap: 30px;
    }
    .search {
        width: 22px;
    }
    
}

@media (max-width:965px) {
  .navbar{
    padding: 5px;
  }
    
    .navbar-menu{
        gap: 15px;
        font-size: 15px;
    }


    
    .navbar-right{
        gap: 20px;
    }
    .search{
        width: 20px;
    }
   
}

@media (max-width:880px) {
   
    .navbar-menu{
        display: none;
    }
    
}

