.footer{
    background-color: #f0f4f6;;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    border-top: 4px solid #ffd9da;
    margin-top: 100px;
    color: #333;
    font-size: 17px;
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-content-left, .footer-content-right, .footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content li{
    list-style: none;
    margin-bottom: 10px;
}



.footer-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.footer-logo p{
    display: flex;
    font-size: 30px;
    color: darksalmon;
    font-weight: 500;
}

.footer-logo img{
    width: 60px;
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
}
.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
    background-color: rgb(41, 41, 211);
    object-fit: cover;
    border-radius: 100%;
}
@media (max-width:890px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}
