.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9d80a1;
    padding: 12px 16px;
    background-color: white;
}

.navbar .navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}

.navbar .left-p {
    display: flex;
    font-size: 20px;
    color: darksalmon;
    font-weight: 500;
}

.navbar .logo1 {
    width: 100%;
    height: 70px;
    object-fit: cover;
}

.btn-logout{
   
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #9d80a1;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    
}

.btn-logout:hover{
    background-color: rgb(158, 153, 159);
    color: white;
    
}

@media (min-width: 640px) {
    .navbar{
        padding-left: 40px;
        padding-right: 40px;
    }
}


.menu-icon {
    width: 24px; 
    cursor: pointer;
    display: block;
  }
  
  @media (min-width: 768px) {
    .menu-icon {
      display: none; 
    }
  }

  @media(max-width:768px){
    .navbar .navbar-left{
        display: none;
    }
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #1a2942;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 20; 
  }
  
  .menu-container.open {
    height: 100%;
  }
  

  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
  }

  
  .close-icon {
    width: 28px; 
    cursor: pointer;
        background-color: red; 
        opacity: 0.7; 
    
    
  }
  
  
  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; 
    color: #99abb4;
    font-size: 20px;
    margin-top: 20px;  
    padding: 0 20px; 
    font-weight: 500; 
  }
  
  .menu-list li {
    list-style: none;
  }
  
  .menu-list a {
    padding: 8px 16px;
    border-radius: 8px; 
    text-decoration: none;
    display: inline-block;
  }