
.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/src/assets/header1.jpg') no-repeat;
    background-size:cover;
    position: relative;
    background-position: center;
    border-radius: 0.5rem;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}

.header-contents p{
    color: white;
    font-size: 1.5vw;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: (max1vw,13px);
    border-radius: 50px;
    cursor: pointer;
}

@media (max-width:1050px) {
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px) {
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
    .header-contents h2{
       
        font-size: max(5vw, 19px);
    }
}
@media (max-width: 500px) {
    .header {
        height: 50vw;
    }
    .header-contents {
        align-items: center;
        text-align: center;
        max-width: 80%;
        bottom: 5%;
    }
    .header-contents h2 {
        font-size: max(6vw, 18px);
    }
    .header-contents button {
        padding: 3vw 5vw;
    }
}

