@import "/node_modules/@mdi/font/css/materialdesignicons.min.css";
.zakazivanja-div{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.div-termini{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.row-left{
  display: flex;
  flex-direction: row;
 
}
.row-dva{
  display: flex;
  flex-direction: row;
    margin-bottom: 23px;
  border: 1px solid transparent;
  border-top: 1px solid #ccdae1;
  border-bottom: 1px solid #ccdae1;
 
}
.row{
  display: flex;
  flex-direction: row;
    margin-bottom: 23px;
  border: 1px solid transparent;
  border-top: 1px solid #ccdae1;
  border-bottom: 1px solid #ccdae1;
  justify-content: space-between;
  
}

.row-date{
display: flex;
flex-direction: column;
justify-content: center;
color: #747474;
    background-color: inherit ;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  margin-right: 10px;
 gap: 5px;
}
.row-right{
  display: flex;
  align-items: center;
  
 
}
.mdi{ 
  font-size: 24px;
  color: #a49e9e;;
  font: normal normal normal 24px/1 "Material Design Icons";
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  content: "\F02D5";
  line-height: inherit;
}
.day{
  font-size: 30px;
}

.row-time{
  display: flex;
  flex-direction: column;
  padding: 22px;
gap: 15px;
border-left: 1px solid #ccdae1 ;
margin: 10px;
justify-content: center;
}
.row-info-jedan{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 75%;
gap: 10px;
}
.row-info-naziv{
  display: flex;
  flex-direction: column;
    font-weight: 400;
  border-radius: 4px;
  gap: 5px;
  justify-content: space-between;
}
.row-info-naziv-jedan{
  display: flex;
  flex-direction: row;
    font-weight: 400;
  border-radius: 4px;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}
.usluga-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}
.row-info{
  display: flex;
  flex-direction: column;
  padding: 30px;
gap: 20px;


}
.row-jedan{
  display: flex;
  flex-direction: row;
}

.zakazivanja{
  color: #2c3e50;
  font-size: 28px;
  margin-top: 10px;
  font-weight: 450;
}
.otkazi-btn, .review{
  border: 1px solid #9d80a1;
  padding: 10px ;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
background-color: transparent;
  font-size: 16px;
  color: black;
  font-weight: 400;
  white-space: nowrap;
  max-width: fit-content;
  margin: 10px;
   
}
.row-zakazivanja{
  display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
    background-color: #e5dbdb;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    color: #49557e;
    margin-top: 10px;
    font-size: 19px;
}
.row-zakazivanja li{
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;
}
.row-zakazivanja li.active{
  background-color: white;
  
}
.otkazi-btn:hover{
    background-color: red;
    transition: border .25s linear,color .25s linear,background-color .25s linear;

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 100%;
  position: relative;
}
.confirm{
  background-color: #679436 !important;
  color: white;
  margin-right: 4px;
  margin-left: 4px;
  font-weight: 400;
  font-size: 90%;
  padding: .2em .4em;
  border-radius: 4px;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

@media (max-width:750px) {
  .otkazi-btn{
    margin: 2px;
    padding: 10px;
    font-size: 14px;
  }
  .zakazivanja{
    font-size: 20px;
  }
}

@media (max-width:670px) {
  .row,.row-dva{
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .row-info, .row-info-jedan{
    padding: 10px;
    
  }
 .row-info-jedan{
  width: 100%;
 }
  .row-time{
    padding: 5px;
    margin: 5px 0;
  }
  .row-date{
    padding: 7px;
    font-size: 16px;
    margin-right: 0px;
  }
}

@media (max-width: 480px) {
  .zakazivanja {
    font-size: 18px;
    text-align: center;
  }

  .row-date {
    font-size: 14px;
    padding: 5px;
  }

  .row-info, .row-info-jedan,
  .row-time {
    padding: 5px;
    gap: 10px;
  }

  .row-zakazivanja,.row-left {
    gap: 10px;
    padding: 5px;
  }


  .row-zakazivanja li {
    font-size: 14px;
  }

  .otkazi-btn,.review {
    font-size: 15px;
    padding: 5px 15px;
  }
}