.top-rated {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.top-rated a {
    cursor: pointer;
    font-weight: 500;
    color: darksalmon ;
}



.top-rated h1 {
    color: #2c3e50;
    font-weight: 500;
}

.top-rated-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    gap: 30px;
    row-gap: 50px;
}

.top-rated-list-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
}

.top-rated-list-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    min-width: 80px;
    cursor: pointer;
    border-radius: 15px 15px 0px 0px;
    transition: 0.2s;
    border: 1px solid #bfdbfe;
}

.ocena{
    background-color:salmon;
    border-radius:20%;
    color: white;
    padding: 10px;
    margin-right: 4px;
  margin-left: 4px;
  font-weight: 400;
  font-size: 90%;
  text-align: center;
  margin:  auto 10px;
  
}

.ime {
    font-weight: 500;
    font-size: 20px;
    color: #2c3e50;
    margin: 6px;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}



.top-rated hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}


.top-rated-span {
    border: 1px solid #ccc;
  padding: 1rem;
  width: 300px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
   position: absolute;
   z-index: 100;

}

.top-rated-span p {
   font-size: 20px;
  color: #555;
  margin-bottom: 10px;
}

.top-rated-span ul {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.top-rated-span div {
    margin-top: 10px;
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    color: #333;
    font-weight: 500;
    cursor: pointer;
}
@media (max-width:640px){
    .top-rated h1{
        font-size: 20px;
    }
   
}

