.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about-container h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .about-container p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .about-container img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  @media (max-width:750px) {
    h2{
      font-size: 20px;
    }
  }